  <p>
    <div class="card hoverable">
        <div class="row no-gutters">
            <div class="col-3 col-md-2">
                {%- assign profile_image_path = member.image | prepend: 'assets/img/members/' -%}
                {%- include figure.html path=profile_image_path alt="thumbnail" -%}
            </div>
            <div class="col-9 col-md-10">
                <div class="card-body">
                    <div class="position-relative">
                      <div class="social_card float-right">
                          <a href="{{ member.url }}" title="Personal Webpage"><i class="fa fa-home"></i></a>
                          {% include social.html social_info=member %}
                      </div>
                    </div>
                    <a href="{{ member.url | relative_url }}">
                    <h4 class="card-title">{{ member.firstname }} {{ member.lastname }}</h4>
                    {%- if member.former %}
                    <p class="card-text">{{ member.position }} ({{ member.start_year }} - {{ member.exit_year }})
                    </p>
                      {%- if member.newposition -%}
                      <p class="card-text"><span class="font-weight-bold"> Next:</span> {{ member.newposition }}</p>
                      {%- endif -%}
                    {%- else -%}
                    {%- endif -%}
                      {% if member.teaser %} <p class="card-text ">{{ member.teaser }}</p>{% endif %}
                      {% if member.interests %}
                      <p class="card-text">
                        <ul class="list-inline ">
                          {%- for i in member.interests -%}
                          <li class="list-inline-item text-muted small">
                            &#x2022; {{i}}
                          </li>
                          {%- endfor %}
                        </ul>
                      </p>
                    {%- endif -%}
                    </a>
                </div>
            </div>
        </div>
    </div>
  </p>
