---
layout: default
nav: false
---

<div class="post">
  <header class="post-header">
    <div class="row">
      <div class="col-sm-9">
        <h2 class="post-title"> <i class="fas {% if page.fa_icon %}{{- page.fa_icon -}}{% else %}fa-hashtag{% endif %} fa-xs"></i>
        	 {{ page.title }} </h2>
		{{ content | markdownify }}
      </div>
      <div class="col-sm-3">
        <img class="card-img" src="{{ page.thumbnail | relative_url}}" style="object-fit: cover; height: 90%" alt="image">
      </div>
    </div>
  </header>

  <hr>
  
  <ul class="post-list">

    {% for post in paginator.posts %}

    <li>

      <div class="profile float-{% cycle 'right', 'left' %}"  {% if post.thumbnail_width %}style="width: {{ post.thumbnail_width }};"{% endif %} >
        {%- if post.thumbnail %}
          {% include figure.html path=post.thumbnail  -%}
        {% endif -%}
      </div>

      <div class="clearfix">
        <h3>
          {{ post.title }}
        </h3>
        <p>{{ post.description }}</p>
        <ul class="list-inline ">
          {%- for i in post.keywords -%}
          <li class="list-inline-item text-muted small">
            &#x2022; {{i}}
          </li>
          {%- endfor %}
        </ul>

      </div>

      <div class="clearfix">
        {{ post.content }}
      </div>

    </li>

    {% endfor %}

  </ul>


  {% include pagination.html %}
</div>
